<% if @zip != nil%>
<% @zip.map do |pair|%>
    <div class="panel panel-primary">
      <table class="table">
        <tr>
          <td>
          <%= image_tag pair[0].image, size: '100X100', alt: "Profile Photo", class: "spotifypic" %>
          <h3 class="spotifytitle"><%= pair[0].name %></h3>
          <br>
          <strong>Type : </strong><%= pair[0].type %>
          <br>
          <br>
          <iframe src="https://embed.spotify.com/?uri=<%= pair[0].uri %>" frameborder="0" allowtransparency="true"></iframe>
          </td>



          <td>
          <%= button_to "Favorite!", { :controller => "suggestions", :action => "favorite", suggestion_id: pair[2], current_user_id: current_user.uid, class: "btn btn-primary" }, method: :post %>
          <h3>Charles ID: <br> <%= pair[2] %></h3>
          </td>


          <td>
            <div class="yelpheader">
              <%= image_tag pair[1].the_image_url, alt: pair[1].the_image_url, class: "yelp_pic" %>
              <h3><%= pair[1].name %></h3>
            </div>
          <br>
          <div class="yelprates">
            <strong>Rating : </strong><%=  pair[1].rating%>
            <%= image_tag pair[1].rating_img_url_large, alt: pair[1].rating_img_url_large, class: "ratingpic" %>
          </div>
          <br>
          <strong>Total Reviews: </strong><%=  pair[1].review_count%>
          <br>
          <strong>Location: </strong><%  pair[1].location.map do |loc| %>
            <%= loc  %>
            <br>
          <%end %>
          <br>

          <strong>Categories : </strong><% pair[1].categories.map do |cat| %>
            <%= cat[0]  %>
            <br>
          <%end %>
          </td>

        </tr>
      </table>
    </div>

<%end%>
<%end%>
