<% if @zip %>
<% @zip.map do |pair|%>
      <table class="table">
        <tr>
          <td class="foodmusic">
          <%= image_tag pair[0].image, size: '100X100', alt: "Profile Photo", class: "spotifypic" %>
          <h3 class="spotifytitle"><%= pair[0].name %></h3>
          <br>
          <strong>Type : </strong><%= pair[0].type %>
          <br>
          <br>
          <iframe src="https://embed.spotify.com/?uri=<%= pair[0].uri %>&theme=white" frameborder="0" allowtransparency="true"></iframe>
          </td>


          <td class="fava">
          <%= form_tag add_favorite_path, method: :post do %>
          <%=hidden_field_tag :current_user_id, current_user.uid%>
          <%=hidden_field_tag :suggestion_id, pair[2]%>
          <%=submit_tag 'Favorite!', class: "btn btn-primary"%>
          <%end%>
          </td>


          <td class="foodmusic">
            <div class="yelpheader">
              <%= image_tag pair[1].the_image_url, alt: pair[1].the_image_url, class: "yelp_pic" %>
              <h3><%= pair[1].name %></h3>
            </div>
          <br>
          <div class="yelprates">
            <strong>Rating : </strong><%=  pair[1].rating%>
            <%= image_tag pair[1].rating_img_url_large, alt: pair[1].rating_img_url_large, class: "ratingpic" %>
            <br>
            <strong>Total Reviews: </strong><%=  pair[1].review_count%>
          </div>
          <br>
          <strong>Location: </strong><%  pair[1].location.map do |loc| %>
            <%= loc  %>
            <br>
          <%end %>
          <br>

          <strong>Categories : </strong><% pair[1].categories.map do |cat| %>
            <%= cat[0]  %>
            <br>
          <%end %>
          </td>

        </tr>
      </table>

<%end%>
<%end%>
