
<h1><%=current_user.name%> Your sugestions are: </h1>

<% @zip.map do |pair|%>
  <% pair.map do%>
    <div class="panel panel-primary">
      <table class="table">
        <tr>
          <td>
          <strong>Name : </strong><%= pair[0].name %>
          <br>
          <strong>ID : </strong><%= pair[0].item_id %>
          <br>
          <strong>Type : </strong><%= pair[0].type %>
          <br>
          <%= image_tag pair[0].image, alt: pair[0].image %>
          </td>

          <td>
          <%= image_tag pair[1].the_image_url, alt: pair[1].the_image_url, class: "yelp_pic" %>

          <strong>Name : </strong><%=  pair[1].name%>
          <br>
          <strong>Rating : </strong><%=  pair[1].rating%>
          <br>
          <%= image_tag pair[1].rating_img_url_large, alt: pair[1].rating_img_url_large %>
          <br>
          <strong>Total Reviews: </strong><%=  pair[1].review_count%>
          <br>
          <strong>Location: </strong><%  pair[1].location.map do |loc| %>
            <%= loc  %>
            <br>
          <%end %>
          <br>

          <strong>Categories : </strong><% pair[1].categories.map do |cat| %>
            <%= cat[0]  %>
            <br>
          <%end %>
          </td>

        </tr>
      </table>
    </div>

  <%end%>
<%end%>



<br><br><br><br>
<%= current_user.inspect %>
<br><br><br><br>
